.albums-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background: linear-gradient(to bottom, #4a90e2, #8ebcdd);
    min-height: 100vh;
    overflow-y: auto;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

.search-container {
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.albums-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
}

.album-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 500px;
    max-width: 650px;
}

.album-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.delete-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #c0392b;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 15px;
}

.photo-thumbnail {
    width: 100%;
    border-radius: 8px;
    height: auto;
    object-fit: cover;
}

.share-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left: 10px; /* Para separar de "Eliminar Álbum" */
}

.share-button:hover {
    background-color: #2980b9;
}

.share-link {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #2c3e50;
    word-break: break-all;
}

.album-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2c3e50; /* Un color oscuro para contraste */
    text-align: center;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}