body {
  background-color: #eeb1b1; /* Cambia este color al que prefieras */
  margin: 0;
  font-family: Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
